
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

header {
  background-color: rgb(9, 54, 255);
}



.search-bar {

  width: 100%; 
}

@media (min-width: 768px) {
  .search-bar {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .search-bar {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .search-bar {
    width: 800px;
  }
}

/* Footer starts here */

footer {

  border-top: 3px solid;
  margin-top: 20px;
  border-color: rgb(9, 54, 255);

}

footer .container ul li:not(:first-child) {
  border-left: 1px solid #ccc; /* Adjust color and thickness as needed */
  padding-left: 10px
}
footer .container ul li:first-child {
  margin-left: 0;
}

footer .container ul li a {
  color: black; 
}

/* footer END */