
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

header {
  background-color: rgb(9, 54, 255);
}


.search-bar {
  width: 100%; 
}

@media (min-width: 768px) {
  .search-bar {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .search-bar {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .search-bar {
    width: 800px;
  }
}